<div class="container-md">
    <div id="appName">
        <h4 class="text-center container-sm">This is Cuba!</h4>
        <hr>
    </div>
</div>
<div class="card mb-3 container-sm">
    <div class="row g-0">
        <div class="col-md-8">
            <img [src]="beachUrl" class="img-fluid rounded-start mx-auto">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <!-- <h4 class="card-title">This is Cuba!</h4> -->
                <br>
                <h5 class="card-text text-center">The aim of this website is to inform visitors more about Cuba.</h5><hr>
                <div>
                    <p class="card-text">The <strong>Cities</strong> tab will inform you more about Cuban cities. <br></p><hr>
                </div>
                <div><p>The <strong>Weather</strong> tab will display weather at certain Cuban areas.<br></p><hr></div>
                <div><p>Have a tech idea to improve tourism in Cuba? Click the <strong>Tech Ideas</strong> tab to send us your submission!</p></div>
            </div>
        </div>
    </div>
</div>